<h3>creator:<%= @event.creator.name %></h3>

<p> <%= @event.title %> </p>
<p> <%= @event.description %> </p>
<p> <%= @event.location %> </p>
<p> <%= @event.date %> </p>


<h3> Event attendees </h3>


<% @event.attendees.each do |attendee| %>
  <p>
    <%= attendee.name %>
  </p>
<% end %>
