<div class="row">
 <div class = "jumbotron">
<h3> <%= invitation_message(@invitations) %> </h3>  <span> <%= link_to "new invite", new_invitation_path, class: "btn btn-primary" %> </span>
 </div>
</div>


<div class="row">
    <% @invitations.each do |invitation| %>
        <div class="col-12 col-md-4 invited">
            <p> You have been invited to <%= invitation.attended_event.title %>! </p>
            <br>
            <%= link_to  "Accept", invitation_accept_path(invitation), class: "btn btn-primary" %>
            <%= link_to  "Decline", invitation_path(invitation), method: :delete, class: "btn btn-primary" %>
           
        </div>
    <% end %>
</div>